.wp-block-post-template.is-flex-container.is-flex-container.columns-3 > li{
	flex-direction: column;
	justify-content: space-between;
}

.fit-into-corner{
	margin-bottom: -2.3rem;
	margin-right: -1rem;
}
